# This file is used to ignore files
# -------------------------------------------------

/aclocal.m4
/configure
/configure.cache
/config.status

/autom4te.cache
/autotools/aclocal.m4
/autotools/m4/libtool.m4
/autotools/m4/ltoptions.m4
/autotools/m4/ltsugar.m4
/autotools/m4/ltversion.m4
/autotools/m4/lt~obsolete.m4
/autotools/m4/pkg.m4
/autotools/build-aux/compile
/autotools/build-aux/config.guess
/autotools/build-aux/config.sub
/autotools/build-aux/depcomp
/autotools/build-aux/install-sh
/autotools/build-aux/ltmain.sh
/autotools/build-aux/missing

/util/unicode/bin

/util/unicode/autom4te.cache
/util/unicode/autotools/aclocal.m4
/util/unicode/autotools/m4/libtool.m4
/util/unicode/autotools/m4/ltoptions.m4
/util/unicode/autotools/m4/ltsugar.m4
/util/unicode/autotools/m4/ltversion.m4
/util/unicode/autotools/m4/lt~obsolete.m4
/util/unicode/autotools/m4/pkg.m4
/util/unicode/autotools/build-aux/compile
/util/unicode/autotools/build-aux/config.guess
/util/unicode/autotools/build-aux/config.sub
/util/unicode/autotools/build-aux/depcomp
/util/unicode/autotools/build-aux/install-sh
/util/unicode/autotools/build-aux/ltmain.sh
/util/unicode/autotools/build-aux/missing

/util/unicode/aclocal.m4
/util/unicode/do_build
/util/unicode/configure
/util/unicode/configure.cache
/util/unicode/config.status
/util/unicode/config.log
/util/unicode/error.log
/util/unicode/libtool
/util/unicode/qunicodetables*
/util/unicode/result

/util/harfbuzz_fonts/generate_qrc.sh

/include/qt-acconfig.h.in

*.a
*.dll
*.la
*.o
*.obj
*.lo
*.so
*.Po

*~
.*.swp
.DS_Store

qrc_*.cpp
ui_*.h

Makefile.in
Makefile
