# This file is used to ignore files 
# -------------------------------------------------

/aclocal.m4
/configure
/configure.cache
/config.status

/autom4te.cache
/autotools/aclocal.m4
/autotools/m4/libtool.m4
/autotools/m4/ltoptions.m4
/autotools/m4/ltsugar.m4
/autotools/m4/ltversion.m4
/autotools/m4/lt~obsolete.m4
/autotools/m4/pkg.m4
/autotools/build-aux/compile
/autotools/build-aux/config.guess
/autotools/build-aux/config.sub
/autotools/build-aux/depcomp
/autotools/build-aux/install-sh
/autotools/build-aux/ltmain.sh
/autotools/build-aux/missing

/include/qt-acconfig.h.in

*.a
*.dll
*.la
*.o
*.obj
*.lo
*.so
*~

*.flc
.*.swp
.DS_Store

Makefile.in
Makefile

qrc_*.cpp
ui_*.h
/bin/